<div class="social-vertical social">
    <div class="sticky center">
        <ul class="menu list-none">
            <li><a href="https://www.facebook.com/"><i class="pi pi-facebook" style="font-size: 21px;"></i></a></li>
            <li><a href="https://www.viber.com/en/"><img src="assets/image/viber.png" style="width:1.5rem;"></a></li>
            <li><a href="https://zalo.me/pc/"><img src="assets/image/zalo.png" style="width:1.5rem;"></a></li>
            <li><a href="https://www.whatsapp.com/"><i class="pi pi-whatsapp" style="font-size: 21px; color: #075E54;"></i></a></li>
        </ul>
    </div>
</div>