<div
    class="bg-gray-900 sm:px-6 py-3 flex align-items-center justify-content-around sm:justify-content-end border-bottom-1 surface-border text-sm ">
    <a pripple="" routerLink="/Aboutus" class="text-white cursor-pointer hover:text-gray-200 no-underline gap-2 flex align-items-center">
        <i class="pi pi-sign-in text-sm"></i>
        <span>Talking about organic with us</span>
    </a>
    <div class="text-white sm:mx-2 gap-2 flex align-items-center">|</div>
    <a pripple="" class="text-white cursor-pointer hover:text-gray-200 no-underline gap-2 flex align-items-center">
        <i class="pi pi-phone text-sm"></i>
        <span>0931541339</span>
    </a>
</div>
