<!-- <div class="surface-card border-top-1 border-gray-100">
    <div class="grid grid-nogutter">
        <div class="col-12 md:col-6 bg-no-repeat bg-cover p-7"
            style="background-image: url('assets/image/contact-2.jpg');">
            <div class="text-white text-2xl font-medium mb-6">{{'login.contactus' | translate}}</div>
            <div class="text-gray-300 line-height-3 mb-6">{{'login.contactmsg' | translate}}</div><a
                class="inline-flex align-items-center text-blue-300 font-bold no-underline cursor-pointer">
                <i class="pi pi-arrow-right"></i></a>
            <ul class="list-none p-0 m-0 mt-6 text-white">
                <li class="flex align-items-center mb-3"><i class="pi pi-phone mr-2"></i><span>{{'login.contactNumber' |
                        translate}}</span></li>
                <li class="flex align-items-center mb-3"><i
                        class="pi pi-twitter mr-2"></i><span>{{'login.contactsociallink' | translate}}</span></li>
                <li class="flex align-items-center mb-3"><i
                        class="pi pi-inbox mr-2"></i><span>{{'login.contactmailllink' |
                        translate}}</span>
                </li>
                <li class="flex align-items-center mb-3"><i class="pi pi-inbox mr-2"></i><span>{{'login.Shopaddress' |
                        translate}}</span>
                </li>
                <li class="flex align-items-center mb-3"><i class="pi pi-inbox mr-2"></i><span>{{'login.Headoffice' |
                        translate}}</span>
                </li>
            </ul>
        </div> 

        <div class="col-12 lg:col-6 lg:pl-4 pt-5">
            <div class="w-full hidden lg:block">
                <div class="text-800 text-3xl font-medium">{{'login.SuriTechnologyheading0' | translate}}</div>
                <p class="text-800 text-xl line-height-3 mb-6">{{'login.SuriTechnologyheading1' | translate}}</p>
            </div>
            <table class="w-full">
                <tr>
                    <td w-7="" class="text-800 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive1' |
                        translate}}</td>
                    <td class="text-800 p-2">{{'login.SuriTechnologyheading2' | translate}}</td>
                </tr>
                <tr>
                    <td w-7="" class="text-800 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive2' |
                        translate}}</td>
                    <td class="text-800 p-2">{{'login.SuriTechnologyheading3' | translate}}</td>
                </tr>
                <tr>
                    <td w-7="" class="text-800 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive3' |
                        translate}}</td>
                    <td class="text-800 p-2">{{'login.SuriTechnologyheading4' | translate}}</td>
                </tr>
                <tr>
                    <td w-7="" class="text-800 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive4' |
                        translate}}</td>
                    <td class="text-800 p-2">{{'login.SuriTechnologyheading5' | translate}}</td>
                </tr>
                <tr>
                    <td class="text-800 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive5' | translate}}</td>
                    <td class="text-800 p-2">{{'login.SuriTechnologyheading6' | translate}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>  



    <div class="grid m-0 p-0">
        <div class="col-12 md:col-6">
            <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4963033680824!2d106.62492891524116!3d10.773248662197174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c1fa3f7f629%3A0x153086ba36eb7329!2sRichstar%20Residence%20Khu%201!5e0!3m2!1sen!2sin!4v1679030622902!5m2!1sen!2sin" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-12 md:col-6">
            <div class="card">
                <h4>Say Hello. Don't Be Shy!</h4>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 mb-4"><input id="name" type="text" pinputtext="" placeholder="Name"
                        class="p-inputtext p-component p-element py-3 px-2 text-lg"></div>

                <div class="field col-12 mb-4"><input id="email" type="text" pinputtext="" placeholder="Email"
                        class="p-inputtext p-component p-element py-3 px-2 text-lg"></div>
                <div class="field col-12 mb-4"><input id="phone" type="text" pinputtext="" placeholder="Phone"
                        class="p-inputtext p-component p-element py-3 px-2 text-lg"></div>
                <div class="field col-12 mb-4"><textarea id="message" pinputtextarea="" rows="3" placeholder="Message"
                        class="p-inputtextarea p-inputtext p-component p-element py-3 px-2 text-lg p-inputtextarea-resizable"
                        style="height: 104px; overflow: hidden;"></textarea></div>
                <div class="col-12 text-right"><button type="button" pbutton="" pripple="" label="Submit" icon="pi pi-envelope"
                        class="p-element p-ripple px-5 py-3 w-auto p-button p-component"><span
                            class="p-button-icon p-button-icon-left pi pi-envelope" aria-hidden="true"></span><span
                            class="p-button-label">Submit</span><span class="p-ink"></span></button></div>
            </div>
        </div>
    </div>
-->
<!-- ***** Contact Area Starts ***** -->

<!-- ***** Contact Area Ends ***** -->
<div class="lg:px-8 md:px-4 px-2 py-2">
    <div class="p-4 shadow-2 border-round">
        <div class="border-1  surface-border border-round mb-3 p-4">
            <div class="Title">
                {{'login.ContactFormTitle' | translate}}
            </div>
        </div>
        <div class="border-1 surface-border border-round p-3">
            <div class="grid surface-card">
                <div class="col-12 md:col-6 bg-cover"   style="background-image: url('assets/image/contact-2.jpg');">
                    <div class="md:py-2 px-2 mt-5">
                        <div class="text-gray-300 line-height-3 mb-6">{{'login.contactmsg' | translate}}</div>
                        <ul class="list-none p-0 m-0 mt-6 text-white">
                            <li class="flex align-items-center mb-3"><i
                                    class="pi pi-phone mr-2"></i><span>{{'login.contactNumber' |
                                    translate}}</span></li>
                            <li class="flex align-items-center mb-3"><i
                                    class="pi pi-twitter mr-2"></i><span>{{'login.contactsociallink' | translate}}</span></li>
                            <li class="flex align-items-center mb-3"><i
                                    class="pi pi-inbox mr-2"></i><span>{{'login.contactmailllink' |
                                    translate}}</span>
                            </li>
                            <li class="flex align-items-center mb-3"><i class="pi pi-inbox mr-2"></i><span>{{'login.Shopaddress'
                                    |
                                    translate}}</span>
                            </li>
                            <li class="flex align-items-center mb-3"><i class="pi pi-inbox mr-2"></i><span>{{'login.Headoffice'
                                    |
                                    translate}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 md:col-6">
        
                    <div class="">
                        <div class="card-header border-bottom-1 surface-border text-center p-5 mb-1 text-xl text-primary">
                            <h5>{{'login.SuriTechnologyheading0' | translate}}</h5>
                        </div>
                              <p class="text-800 p-2 ">{{'login.SuriTechnologyheading1' | translate}}</p>
                    </div>
                    <table class="w-full border-round border-1 surface-border">
                        <tr>
                            <td w-7="" class="text-800 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive1' |
                                translate}}</td>
                            <td class="text-800 p-2">{{'login.SuriTechnologyheading2' | translate}}</td>
                        </tr>
                        <tr>
                            <td w-7="" class="text-800 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive2' |
                                translate}}</td>
                            <td class="text-800 p-2">{{'login.SuriTechnologyheading3' | translate}}</td>
                        </tr>
                        <tr>
                            <td w-7="" class="text-800 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive3' |
                                translate}}</td>
                            <td class="text-800 p-2">{{'login.SuriTechnologyheading4' | translate}}</td>
                        </tr>
                        <tr>
                            <td w-7="" class="text-800 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive4' |
                                translate}}</td>
                            <td class="text-800 p-2">{{'login.SuriTechnologyheading5' | translate}}</td>
                        </tr>
                        <tr>
                            <td class="text-800 text-xl p-2 font-medium w-2">{{'login.SuriTechnologymotive5' | translate}}</td>
                            <td class="text-800 p-2">{{'login.SuriTechnologyheading6' | translate}}</td>
                        </tr>
                    </table>
        
                </div>
                <div class="col-12 md:col-6 p-0">
                    <div class="p-1">
                        <div id="map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4963033680824!2d106.62492891524116!3d10.773248662197174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c1fa3f7f629%3A0x153086ba36eb7329!2sRichstar%20Residence%20Khu%201!5e0!3m2!1sen!2sin!4v1679030622902!5m2!1sen!2sin"
                                width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 surface-border">
                    <div class="card">
                        <div class="card-header border-bottom-1 surface-border text-center p-5 mb-1 text-lg text-primary">
                            <h5>Say Hello !</h5>
                        </div>
                        <div class="card-body">
                            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                                <div class="field grid">
                                    <div class="col-12">
                                        <input id="name" type="text" name="name"
                                            class="text-base text-color surface-overlay p-3 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                            ngModel #name="ngModel" placeholder="name"
                                            [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
                                        </div>
                                    <small *ngIf="f.submitted && name.errors" class="p-error pl-3">
                                        <div *ngIf="name.errors?.['required']">Name is required</div>
                                    </small>
                                </div>
                                <div class="field grid">
                                    <div class="col-12">
                                        <input id="email"
                                            class="text-base text-color surface-overlay p-3 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                            type="text" type="email" name="email" ngModel placeholder="Enter Your Email" required
                                            [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel">
                                    </div>
                                    <small *ngIf="f.submitted && email.errors" class="p-error pl-3">
                                        <div *ngIf="email.errors?.['required']">Email is required</div>
                                        <div *ngIf="email.errors?.['pattern']">Email must be a valid email address</div>
                                    </small>
                                </div>
                                <div class="field grid">
                                    <div class="col-12">
                                        <input id="Number"
                                            class="text-base text-color surface-overlay p-3 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                            type="text" pInputText placeholder="Enter your Number" name="number" ngModel
                                            #number="ngModel" [ngClass]="{ 'is-invalid': f.submitted && number.invalid }" required
                                            minlength="10" maxlength="10">
                                    </div>
                                    <small *ngIf="f.submitted && number.errors" class="p-error pl-3">
                                        <div *ngIf="number.errors?.['required']">number is required</div>
                                        <div *ngIf="number.errors?.['number']">number must be valid</div>
                                        <div *ngIf="number.errors?.['maxlength']">allowed only 10 digit</div>
                                        <div *ngIf="number.errors?.['minlength']">Enter Atleast 10 digit</div>
                                    </small>
                                </div>
                                <div class="field grid">
                                    <textarea rows="4" cols="50" pInputTextarea placeholder="Describe yourself here..."
                                        class="w-full m-2"></textarea>
                                </div>
                                <div class="flex justify-content-end">
                                    <button pButton class="me-1">Send Meassage</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

