.css-e2xo3p {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 2.5rem;
}
.css-1yfx558 {
    margin-bottom: 1.25rem;
    text-align: center;
    font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
}
.css-y0uycb {
    margin-bottom: 1.25rem;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
}
.css-976no0 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(30 41 59 / var(--tw-border-opacity));
}
.css-1mxvruu {
    width: 100%;
    background-color: transparent;
    padding: 0.75rem;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    outline: transparent solid 2px;
    outline-offset: 2px;
}
.css-1ktz4z6 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-width: 1px;
    border-color: transparent;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    line-height: 1.625;
    flex-shrink: 0;
    border-radius: 0px;
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 768px){
.css-e2xo3p {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.css-1yfx558 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.css-y0uycb {
    width: 66.6667%;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

}
.css-1mxvruu {
    padding: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.css-1ktz4z6 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}










.css-o5m47r {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(22 163 74 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(240 253 244 / var(--tw-bg-opacity));
    padding: 1.25rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
}
.css-cjoyv0 {
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity));
}
.css-on31sd {
    margin-bottom: 1.25rem;
    height: 2.5rem;
    width: 2.5rem;
    animation: 1s ease 0s 3 normal none running bounce;
    fill: currentcolor;
}
.css-16ceglb {
    font-weight: 600;
}
