<div class="block-content">
    <div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 ng-star-inserted">
        <div class="surface-card border-round shadow-2 p-4 text-center"><img
                src="assets/images/blocks/illustration/subscribe.svg" alt="Image" class="mx-auto block mb-4">
            <div class="text-green-600 font-medium mb-2 text-xl">Message sent successfully</div>
            <p class="mt-0 mb-4 p-0 line-height-3">Help Us Improve – Take our Survey!</p>
            
            <p class="p-meassage mb-2">We’re going to fix these issues and we hope you’ll (visit / shop with) us again. As a small thank you for your feedback, I hope you’ll use this (discount or offer) next time.</p>
            <button pbutton="" pripple="" label="Learn More" routerLink="/Home"
                icon="pi pi-arrow-right" iconpos="right"
                class="p-element p-ripple p-button-rounded p-button p-component"><span
                    class="p-button-icon p-button-icon-right pi pi-arrow-right" aria-hidden="true"></span><span
                    class="p-button-label">Buy More</span><span class="p-ink"
                    style="height: 152px; width: 152px; top: -46px; left: 15.5156px;"></span></button>
        </div>
    </div><!----><!---->
</div>