<div class="w-full">
            <div
                class="flex justify-content-between align-items-center relative m-2 column-gap-5">
                <div class="flex align-items-center">
                    <div class="font-medium">Welcome back,<span class="font-bold">Christina!</span> 👋
                    </div>
                </div>
                <p-toast></p-toast>
            </div>
         <p-table #dt [value]="products" [rows]="6" [paginator]="true"
                        [globalFilterFields]="['IName','Detail','Price','CName','Discount','Qnt']"
                        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
                        currentPageReportTemplate="{last} of {totalRecords} entries"
                        [showCurrentPageReport]="true">
                        <ng-template pTemplate="caption">
                            <div class="flex align-items-center justify-content-between">
                                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewAdd()"></button>
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dt.filterGlobal(GetSearchValue($event), 'contains')"
                                        placeholder="Search" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="IName">Product Name<p-sortIcon field="IName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="Detail">Description<p-sortIcon field="Detail"></p-sortIcon></th>
                                <th>Image</th>
                                <th pSortableColumn="CName">Category<p-sortIcon
                                        field="CName"></p-sortIcon></th>
                                <th pSortableColumn="Discount">Discount
                                    <p-sortIcon field="Discount"></p-sortIcon>
                                </th>
                                <th pSortableColumn="Price">Price <p-sortIcon
                                            field="Price"></p-sortIcon></th>
                                <th pSortableColumn="Qnt">Quantity<p-sortIcon field="Qnt"></p-sortIcon></th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{product.iname}}</td>
                                <td>{{product.detail}}</td>
                                <td><img src="data:image/jpeg;base64,{{product.image}}" alt="" srcset="" height="50" width="50"></td>
                                <td>{{product.cname}}</td>
                                <td>{{product.discount}}%</td>
                                <td>{{product.price | currency:'INR'}}</td>
                               <td><span [class]="'product-badge status-' + product.qnt">{{product.qnt}}</span></td>
                                <td>
                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success mr-2"
                                        (click)="editProduct(product)"></button>
                                    <button pButton pRipple icon="pi pi-trash"
                                        class="p-button-rounded p-button-danger"
                                        (click)="deleteProduct(product)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between">
                             Total {{products ? products.length : 0 }} Products.
                            </div>
                        </ng-template>
         </p-table>
         </div>
         <form [formGroup]="Productform" (ngSubmit)="onSubmit()">
            <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}"
                       header="Product Details" [modal]="true" styleClass="p-fluid">
                       <ng-template pTemplate="content">
                           <div class="form-floating mb-3">
                               <label for="name" class="block text-900 font-medium mb-2">Product Name</label>
                               <input id="Name" formControlName="name" placeholder="Enter Your name" pinputtext=""  class="p-inputtext p-component p-element w-full mb-1" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['name'].errors }">
                               <small *ngIf="submitted && f.name.errors" id="username2-help" class="p-error block">
                                       <div *ngIf="f.name.errors.required">Product Name is Required</div>
                                       <div *ngIf="f.name.errors.minLength">Name must be at least 4 characters long.</div>
                                       <div *ngIf="f.name.errors.maxLength">maxLength is Reached</div>
                                       <div *ngIf="f.name.errors.pattern">Name must be a valid</div>
                               </small>
                               </div>
                               <div class="field">
                                <input type="hidden" pInputText  formControlName="ProductId"/>
                            </div>
                            <div class="field">
                               <label for="description">Description</label>
                               <textarea id="description" pInputTextarea formControlName="description" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['description'].errors }"></textarea>
                               <small *ngIf="submitted && f.description.errors" id="username2-help" class="p-error block">
                                   <div *ngIf="f.description.errors.required">description Name is Required</div>
                                   <div *ngIf="f.description.errors.minLength">description must be at least 4 characters long.</div>
                                   <div *ngIf="f.description.errors.maxLength">maxLength is Reached</div>
                           </small>
                           </div>
                         

                         <!-- <ng-template let-selectedOption pTemplate="selectedItem">
                             <div class="option-item option-item-value"><div [innerHTML]="selectedOption.label"></div></div>
                         </ng-template>
                         <ng-template let-option pTemplate="item">
                           <div class="option-item"><div [innerHTML]="option.label"></div></div>
                         </ng-template></p-dropdown> -->
                         <div class="field" style="">
                            <label for="category">Category</label>
                            <select name="cars" id="cars" autocomplete="off" formControlName="category" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['category'].errors }">
                                <option disabled selected value="">Select</option>
                                <option  *ngFor="let title of CategoryList" value={{title.categoryName}} >{{title.categoryName}}</option>
                             </select>
                             <small *ngIf="submitted && f.category.errors" id="category-help" class="p-error block">
                                <div *ngIf="f.category.errors.required">Category is Required</div>
                            </small>
                        </div>
                           <div class="formgrid grid">
                               <div class="field col">
                                   <label for="price">Price</label>
                                   <p-inputNumber id="price" formControlName="price" [ngClass]="{'ng-invalid ng-dirty': submitted && f['price'].errors }"></p-inputNumber>
                                   <small *ngIf="submitted && f.price.errors" id="price-help" class="p-error block">
                                       <div *ngIf="f.price.errors.required">Price is Required</div>
                                       <div *ngIf="f.price.errors.pattern">Price Must Be Valid</div>
                                   </small>
                               </div>
                               <div class="field col">
                                   <label for="quantity">Quantity</label>
                                   <p-inputNumber id="quantity" formControlName="quantity" [ngClass]="{'ng-invalid ng-dirty': submitted && f['quantity'].errors }">
   
                               </p-inputNumber>
                               <small *ngIf="submitted && f.quantity.errors" id="quantity-help" class="p-error block">
                                   <div *ngIf="f.quantity.errors.required">quantity is Required</div>
                                   <div *ngIf="f.quantity.errors.pattern">quantity Must Be Valid</div>
                               </small>
                               </div>
                           </div>
                           <div class="formgrid grid">
                               <div class="field col">
                                   <label for="Discount">Discount</label>
                                   <p-inputNumber formControlName="Discount"></p-inputNumber>
                               </div>
                           </div>
                           <br>
                           <div class="formgrid grid">
                               <div class="field col">
                                <p-fileUpload (onSelect)="onUpload($event)" [auto]="true" chooseLabel="Browser File">
             
                                </p-fileUpload>
                                <small *ngIf="submitted && f.myFile.errors" id="file-help" class="p-error block">
                                       <div *ngIf="f.myFile.errors.pattern">File is Required</div>
                                   </small>
                              </div>
                           </div>
                       </ng-template> 
   
                       <ng-template pTemplate="footer">
                           <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                               (click)="hideDialog()"></button>
   
                         <button type="submit" pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
                       </ng-template>
           </p-dialog>
       </form>
         <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
